---
http_interactions:
- request:
    method: get
    uri: https://emailrep.io/admin@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"eb35720a89f83ae6233ff4ed5e9a500cc5aca26f"'
    body:
      encoding: UTF-8
      string: |-
        {
          "email": "admin@example.com",
          "reputation": "high",
          "suspicious": false,
          "references": 42,
          "details": {
            "blacklisted": false,
            "malicious_activity": false,
            "malicious_activity_recent": false,
            "credentials_leaked": true,
            "credentials_leaked_recent": false,
            "data_breach": true,
            "first_seen": "07/01/2008",
            "last_seen": "06/26/2020",
            "domain_exists": true,
            "domain_reputation": "n/a",
            "new_domain": false,
            "days_since_domain_creation": 9169,
            "suspicious_tld": false,
            "spam": false,
            "free_provider": true,
            "disposable": false,
            "deliverable": false,
            "accept_all": false,
            "valid_mx": true,
            "primary_mx": "",
            "spoofable": true,
            "spf_strict": true,
            "dmarc_enforced": false,
            "profiles": []
          }
        }
  recorded_at: Mon, 21 Sep 2020 10:35:28 GMT
recorded_with: VCR 6.0.0
